*{
    box-sizing: border-box;
}
body{
    /* копируем из гугл-фонтс */
    font-family: 'Mulish', sans-serif;
    /* из фигмы */
    font-size: 16px;
    font-weight: 400;
}
header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 30px;
}
.button-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20px;
    height: 17px;
    border: none;
    padding: 0;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block;
    background: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo{
    margin-right: 50px;
}
.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBEBEB;
    border-radius: 22px;
    padding-right: 20px;
    max-width: 830px;
    width: 50%;
   
   
}
.input-search{
    /* Чтобы строка поиска занимала всю ширину */
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 12px 23px;
    
}
.button-search{
    width: 19px;
    height: 19px;
    border: none;
    border-color: transparent;
    cursor: pointer;
}
.icon-search{
    /* Заливка иконки-лупы*/
 fill:#000; 

}
.icon-video{
    /* Прозрачность иконки-видео */
    opacity: 0.24;
}
.icon-menu{
    opacity: 0.24;
}
.icon-notification{
    opacity: 0.24;
}
.icons{
    display: flex;
    align-items: center;
    /* Иконки перекинутся вправо к концу страницы */
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
}
/* Все иконки класса icons-link, кроме последней, имеют отступ справа */
.icons-link:not(:last-child){
    margin-right: 50px;
}
.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* СПИСОК СЛЕВА */
.sidebar{
    padding-left: 32px;
}
/* Первое меню-список имеет отступ 60пх от второго вниз, сверху обнуляем */
.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    /* Обнуляем отступ слева */
    padding-left: 0;
    list-style: none;
}
/* у каждого пункта меню отступ снизу 28пх по макету  */
.nav-item{
    margin-bottom: 28px;
   
}
.nav-item .icon{
    /* Делаем заливку иконок */
    fill:#898989;
}
.nav-link{
    color: #898989;
    text-decoration: none;
    display: flex;
    /* Чтобы иконки относительно текста были по центру */
    align-items: center;

}
.nav-link:hover{
    color:#FF0000;
}
/* меняем заливку и саиой иконки при наведении на нее курсора */
.nav-link:hover .icon{
    fill:#FF0000;
}
/* Отодвигаем текст от иконок */
.nav-text{
    margin-left: 13px;
    
}

/* Подписчики */
.nav-image{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
/* Из фигмы копируем св-ва заголовка subscriptionns */
.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}